html{
    width: 100%;
    height: 100%;
}   

body{
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    color: #1d1f3a;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}

.container{
    display:grid;
    grid-template-columns: 2fr 1.5fr 3fr 1.5fr 2fr;
    grid-template-rows: 1.5fr 1.5fr 5fr 1.5fr 0.5fr;
    grid-template-areas:
        "header header header header header"
        "bigSpace1 leftUp centerUp rightUp bigSpace2"
        "bigSpace1 leftDown centerCenter rightDown bigSpace2"
        "bigSpace1 smallSpace1 centerDown smallSpace2 bigSpace2"
        "footer footer footer footer footer";
    height:100vh;
    grid-gap: 0.25rem;
}

header{
    background-color: #005662;
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 80%;
}

.header1 a{
    text-decoration: none;
    color: #fafafa;
    font-size: 35px;
}

.com{
    font-size: 15px;
}

#bigSpace1{
    grid-area: bigSpace1;
    width: 100%;
    height: 100%;
}

#leftUp{
    grid-area: leftUp;
    background-color:#5e5d32;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

#leftUpDown{
    background-color:#5b71eb;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.leftUpDownCenterCenter{
    background-color:#fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba (0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba (0,0,0,0.75);
    border-radius: 2px;
    width: 38px;
    height: 38px;
}

.material-icons-outlined{
    display: none;
}

.material-icons-round{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #445963;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#leftDown{
    background-color: #46d6e9;
    grid-area: leftDown;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}


#leftDownUp{
    background-color: #4e4350;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 15%;
}

#leftDownUpCenter{
    background-color: #99e996;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 80%;
}

#leftDownUpCenterContainer{
    background-color: #e092e2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 80%;
}

.leftDownUpCenterContainerLeft{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 50%;
}

.material-icons-searchLeft{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #445963;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#leftDownUpCenterContainerCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 50%;
}

#searchLeft{
    background-color: #b83f3f;
    border: none;
    width: 98%;
    height: 90%;
}

.leftDownUpCenterContainerRight{
    background-color: #fafafa;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 50%;
}

.material-icons-crossLeft{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #445963;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#leftDownDown{
    background-color: #e9c6ee;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 84%;
}

#leftDownDownContainer{
    background-color: #eeea0f;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    height: 98%;
}

#leftDownDownContainerUp{
    background-color: #0feea4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    width: 90%;
    height: 80%;
}

#leftDownDownContainerUp1{
    background-color: #c0a4f3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border : 1px solid #005662;
    padding-left: 5px;
    width: 90%;
    height: 20%;
    
}

#leftDownDownContainerUp2{
    background-color: #70a064;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border : 1px solid #005662;
    padding-left: 5px;
    width: 90%;
    height: 20%;
}

#leftDownDownContainerUp3{
    background-color: #a08b64;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border : 1px solid #005662;
    padding-left: 5px;
    width: 90%;
    height: 10%;
}

#leftDownDownContainerUp4{
    background-color: #6488a0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border : 1px solid #005662;
    padding-left: 5px;
    width: 90%;
    height: 30%;
}

#leftDownDownContainerDown{
    background-color: #0f77ee;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 10px;
    width: 98%;
    height: 10%;
}

#leftDownDownContainerDown1{
    background-color: #f79dca;
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid #005662;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin: 2px;
    width: 20%;
    height: 25px;
}

#leftDownDownContainerDown2{
    background-color: #f79dca;
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid #005662;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin: 2px;
    margin-right: 15px;
    width: 20%;
    height: 25px;
}

#littleSpace1{
    background-color: #005662;
    grid-area: littleSpace1;
    width: 100%;
    height: 100%;
}

#centerUp{
    background-color: #ddb034;
    grid-area: centerUp;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

#centerUpContainer{
    background-color: #c76c2f;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
}

.centerUpContainerTextUp{
    background-color: #668067;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 25%;
}

.centerUpContainerTextDown{
    background-color: #667480;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 25%;
}

#centerUpContainer p{
    font-size: 13px;
    color: #005662;
}

#centerCenter{
    background-color: #607477;
    box-sizing: border-box;
    grid-area: centerCenter;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

#centerCenterUp{
    background-color: #3ec450;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 90%;
}

#centerCenterDown{
    background-color: #b7a3ec;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: 6%;
}

.material-icons-littleButton{
    
    background-color: #faf8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 4%;
    height: 100%;
}

.material-icons-share.md-16{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #005662;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons-littleStar.md-20{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #005662;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons-fullScreen.md-20{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 22px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #005662;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#centerDown{
    background-color: #ddb034;
    grid-area: centerDown;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

#centerDownContainer{
    background-color: #c76c2f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}

#navMap{
    background-color: #d4ccc7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: 90%;
}

.mapButton{
    background-color: #fafafa;
    color: #005662;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14%;
    height: 75%;
}

.mapButton a{
    text-decoration: none;
    font-size: 12px;
}

#rightUp{
    grid-area: rightUp;
    background-color:#5e5d32;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

#rightUpDown{
    background-color:#5b71eb;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.rightUpDownCenterCenter{
    background-color:#fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba (0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba (0,0,0,0.75);
    border-radius: 2px;
    width: 38px;
    height: 38px;
}

.rightUpDownCenterCenter:hover {
    background-color:#ebe85b;
}

.material-icons-star{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #445963;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#rightDown{
    background-color: #46d6e9;
    grid-area: rightDown;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

#rightDownUp{
    background-color: #4e4350;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 15%;
}

#rightDownUpCenter{
    background-color: #99e996;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 80%;
}

#rightDownUpCenterContainer{
    background-color: #e092e2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
}

.rightDownUpCenterContainerLeft{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 50%;
}

.material-icons-searchRight{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #445963;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#rightDownUpCenterContainerCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 50%;
}

#searchRight{
    background-color: #b83f3f;
    border: none;
    width: 98%;
    height: 100%;
}

.rightDownUpCenterContainerRight{
    background-color: #fafafa;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 50%;
}

.material-icons-crossRight{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #445963;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#rightDownDown{
    background-color: #e9c6ee;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 84%;
}

#rightDownDownContainer{
    background-color: #eeea0f;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    height: 98%;
}

#rightDownDownContainerUp{
    background-color: #0feea4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    width: 90%;
    height: 80%;
}

#rightDownDownContainerUp1{
    background-color: #c0a4f3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border : 1px solid #005662;
    padding-left: 5px;
    width: 90%;
    height: 20%;
}

#rightDownDownContainerUp2{
    background-color: #70a064;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border : 1px solid #005662;
    padding-left: 5px;
    width: 90%;
    height: 20%;
}

#rightDownDownContainerUp3{
    background-color: #a08b64;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border : 1px solid #005662;
    padding-left: 5px;
    width: 90%;
    height: 10%;
}

#rightDownDownContainerUp4{
    background-color: #6488a0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border : 1px solid #005662;
    padding-left: 5px;
    width: 90%;
    height: 30%;
}

#rightDownDownContainerDown{
    background-color: #0f77ee;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 10px;
    width: 98%;
    height: 10%;
}

#rightDownDownContainerDown1{
    background-color: #f79dca;
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid #005662;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin: 2px;
    width: 20%;
    height: 25px;
}

#rightDownDownContainerDown2{
    background-color: #f79dca;
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid #005662;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    margin-right: 15px;
    width: 20%;
    height: 25px;
}

#littleSpace2{
    background-color: #005662;
    grid-area: littleSpace2;
    width: 100%;
    height: 100%;
}

#bigSpace2{
    grid-area: bigSpace2;
    width: 100%;
    height: 100%;
}

footer{
    background-color: #005662;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#navBarfooter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 33.33%;
    height: 80%;
}

.footerButton1{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 20%;
    height: 80%;
}

.footerButton1 p{
    font-size: 10px;
}

.footerButton2{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fafafa;
    width: 20%;
    height: 80%;
}

.footerButton2 p{
    font-size: 10px;
}

.footerButton1{
    display: none;
}

#menu{
    display: none;
}

@media only screen and (max-width:1920px){
    .container{
    display:grid;
    grid-template-columns: 1fr 2.5fr 5fr 2.5fr 1fr;
    grid-template-rows: 1.5fr 1.5fr 5fr 1.5fr 0.5fr;
    grid-template-areas:
        "header header header header header"
        "bigSpace1 leftUp centerUp rightUp bigSpace2"
        "bigSpace1 leftDown centerCenter rightDown bigSpace2"
        "bigSpace1 smallSpace1 centerDown smallSpace2 bigSpace2"
        "footer footer footer footer footer";
    height:100vh;
    grid-gap: 0rem;
    }

    .header1{
    width: 60%;
    }

    .header1 a{
        text-decoration: none;
        color: #fafafa;
        font-size: 28px;
    }

    .com{
        font-size: 12px;
    }

    .leftUpDownCenterCenter{
    width: 32px;
    height: 32px;
    }

    .material-icons-round{
    font-size: 22px;
    }

    #leftDownDownContainerUp{
        font-size: 9px;
    }

    #leftDownDownContainerDown1{
        font-size: 9px;
        width: 20%;
        height: 22px;
    }

    #leftDownDownContainerDown2{
        font-size: 9px;
        margin-right: 8px;
        width: 20%;
        height: 22px;
    }

    #centerUpContainer p{
        font-size: 10px;
    }

    #centerCenterDown{
    height: 6%;
    }

    .material-icons-littleButton{
    width: 10%;
    }

    .material-icons-share.md-16{
    font-size: 14px;
    }

    .material-icons-littleStar.md-20{
    font-size: 16px;
    }

    .material-icons-fullScreen.md-20{
    font-size: 18px;
    }

    #navMap{
        height: 80%;
    }

    .mapButton{
        width: 22%;
    }

    .mapButton a{
        text-decoration: none;
        font-size: 10px;
    }

    .rightUpDownCenterCenter{
    width: 32px;
    height: 32px;
    }

    .material-icons-star{
    font-size: 22px;
    }

    #rightDownDownContainerUp{
        font-size: 9px;
    }

    #rightDownDownContainerDown1{
        font-size: 9px;
        width: 20%;
        height: 22px;
    }

    #rightDownDownContainerDown2{
        font-size: 9px;
        margin-right: 8px;
        width: 20%;
        height: 22px;
    }
}

@media only screen and (max-width:1024px){
    .container{
    display:grid;
    grid-template-columns: 1fr 2.5fr 5fr 2.5fr 1fr;
    grid-template-rows: 1.5fr 1.5fr 5fr 1.5fr 0.5fr;
    grid-template-areas:
        "header header header header header"
        "bigSpace1 leftUp centerUp rightUp bigSpace2"
        "bigSpace1 leftDown centerCenter rightDown bigSpace2"
        "bigSpace1 smallSpace1 centerDown smallSpace2 bigSpace2"
        "footer footer footer footer footer";
    height:100vh;
    grid-gap: 0rem;
    }

    #leftDownDownContainerDown1{
    width: 28%;
    }

    #leftDownDownContainerDown2{
    width: 28%;
    }

    #rightDownDownContainerDown1{
    width: 28%;
    }

    #rightDownDownContainerDown2{
    width: 28%;
    }
}

@media only screen and (max-width:768px){
    .container{
    display:grid;
    grid-template-columns: 1fr 2.5fr 5fr 2.5fr 1fr;
    grid-template-rows: 1.5fr 1.5fr 5fr 1.5fr 0.5fr;
    grid-template-areas:
        "header header header header header"
        "bigSpace1 leftUp centerUp rightUp bigSpace2"
        "bigSpace1 leftDown centerCenter rightDown bigSpace2"
        "bigSpace1 smallSpace1 centerDown smallSpace2 bigSpace2"
        "footer footer footer footer footer";
    height:100vh;
    grid-gap: 0rem;
    }

    #leftDownDownContainerDown1{
    width: 35%;
    }

    #leftDownDownContainerDown2{
    width: 35%;
    }

    #rightDownDownContainerDown1{
    width: 35%;
    }

    #rightDownDownContainerDown2{
    width: 35%;
    }
}

@media only screen and (max-width:550px){
    .container{
        grid-template-columns: 1fr 3.5fr 1fr 3.5fr 1fr;
        grid-template-rows: 1fr 2.5fr 6fr 2fr 8fr 2.5fr;
        grid-template-areas: 
        "footer header header header leftUp"
        "bigSpace1 bigSpace1 bigSpace1 bigSpace1 bigSpace1"
        "leftDown leftDown rightUp rightDown rightDown"
        "centerUp centerUp centerUp centerUp centerUp"
        "centerCenter centerCenter centerCenter centerCenter centerCenter"
        "centerDown centerDown centerDown centerDown centerDown";
        grid-gap: 0rem;
    }

    .header1{
        width: 60%;
    }

    .header1 a{
        text-decoration: none;
        color: #fafafa;
        font-size: 11px;
    }

    .com{
        font-size: 6px;
    }

    #navBarfooter{
        display: none;
    }

    #menu{
        display: contents;
        color: #fafafa;
    }

    #leftUp{
        align-items: center;
    }

    #leftUpDown{
        background-color:#005662;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .leftUpDownCenterCenter{
        background-color:#005662;
        border: none;
        width: 16px;
        height: 16px;
        border: 1px solid #fafafa;
        border-radius: 50px;
    }

    .material-icons-round{
        display: none;
    }

    .material-icons-outlined{
        display: content;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 12px;  /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        color: #fafafa;

        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;

        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;

        /* Support for IE. */
        font-feature-settings: 'liga';
    }

    .material-icons-searchLeft{
    font-size: 10px;
    }

    .material-icons-crossLeft{
    font-size: 10px;
    }

    #leftDownDownContainerUp{
        font-size: 8px;
    }

    #leftDownDownContainerDown1{
        font-size: 7px;
        width: 30%;
        height: 15px;
    }

    #leftDownDownContainerDown2{
        font-size: 7px;
        margin-right: 8px;
        width: 30%;
        height: 15px;
    }

    #rightUp{
        align-items: center;
    }

    .rightUpDownCenterCenter{
        width: 20px;
        height: 20px;
    }

    .material-icons-star{
    font-size: 17px;
    }

    .material-icons-searchRight{
    font-size: 10px;
    }

    .material-icons-crossRight{
    font-size: 10px;
    }

    #rightDownDownContainerUp{
        font-size: 8px;
    }

    #rightDownDownContainerDown1{
        font-size: 7px;
        width: 30%;
        height: 15px;
    }

    #rightDownDownContainerDown2{
        font-size: 7px;
        margin-right: 8px;
        width: 30%;
        height: 15px;
    }

    #centerUpContainer p{
        font-size: 10px;
    }

    .material-icons-share.md-16{
    font-size: 13px;
    }

    .material-icons-littleStar.md-20{
    font-size: 14px;
    }

    .material-icons-fullScreen.md-20{
    font-size: 16px;
    }

    #navMap{
        background-color: #d4ccc7;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 98%;
        height: 90%;
    }

    .mapButton{
        background-color: #fafafa;
        color: #005662;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 75%;
    }

    .mapButton a{
        text-decoration: none;
        font-size: 10px;
    }
}