html{
    width: 100%;
    height: 100%;
}   

body{
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    color: #1d1f3a;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}   

.container{
    display:grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    grid-template-rows: 1.5fr 1.5fr 5fr 1.5fr 0.5fr;
    grid-template-areas:
        "header header header header header"
        "bigSpace1 leftUp centerUp rightUp bigSpace2"
        "bigSpace1 leftDown centerCenter rightDown bigSpace2"
        "bigSpace1 smallSpace1 centerDown smallSpace2 bigSpace2"
        "footer footer footer footer footer";
    height:100vh;
    grid-gap: 0.5rem;
}

header{
    background-color: #005662;
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 80%;
}

.header1 a{
    text-decoration: none;
    color: #fafafa;
    font-size: 35px;
}

.com{
    font-size: 15px;
}

main{
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

#bigSpace1{
    grid-area: bigSpace1;
    width: 100%;
    height: 100%;
}

#leftUp{
    grid-area: leftUp;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

#leftUpDown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.leftUpDownCenterCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 20px;
}

.material-icons-outlined{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #005662;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#leftDown{
    background-color: #46d6e9;
    grid-area: leftDown;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}


#leftDownUp{
    background-color: #4e4350;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 15%;
}

#leftDownUpCenter{
    background-color: #99e996;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 80%;
}

#leftDownUpCenterContainer{
    background-color: #e092e2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
}

.leftDownUpCenterContainerLeft{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 50%;
}

.leftDownUpCenterContainerLeft i{
    color: #005662;
    font-size: 1px;
}

#leftDownUpCenterContainerCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 50%;
}

#searchLeft{
    background-color: #b83f3f;
    border: none;
    width: 98%;
    height: 40%;
}

.leftDownUpCenterContainerRight{
    background-color: #fafafa;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 50%;
}

.leftDownUpCenterContainerRight{
    color: #005662;
    font-size: 1px;
}

#leftDownDown{
    background-color: #e9c6ee;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 84%;
}

#leftDownDownContainer{
    background-color: #eeea0f;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    height: 98%;
}

#leftDownDownContainerUp{
    background-color: #0feea4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 80%;
}

#leftDownDownContainerUp1{
    background-color: #c0a4f3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border : 1px solid #005662;
    padding-left: 5px;
    width: 90%;
    height: 20%;
    font-size: 1px;
    
}

#leftDownDownContainerUp2{
    background-color: #70a064;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border : 1px solid #005662;
    padding-left: 5px;
    width: 90%;
    height: 20%;
    font-size: 1px;
}

#leftDownDownContainerUp3{
    background-color: #a08b64;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border : 1px solid #005662;
    padding-left: 5px;
    width: 90%;
    height: 10%;
    font-size: 1px;
}

#leftDownDownContainerUp4{
    background-color: #6488a0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border : 1px solid #005662;
    padding-left: 5px;
    width: 90%;
    height: 30%;
    font-size: 1px;
}

#leftDownDownContainerDown{
    background-color: #0f77ee;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 10%;
}

#leftDownDownContainerDown1{
    background-color: #f79dca;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 25px;
    border: none;
    font-size: 1px;
}

#leftDownDownContainerDown2{
    background-color: #f79dca;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 25px;
    border: none;
    font-size: 1px;
}

#littleSpace1{
    background-color: #005662;
    grid-area: littleSpace1;
    width: 100%;
    height: 100%;
}

#centerUp{
    background-color: #ddb034;
    grid-area: centerUp;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#centerCenter{
    background-color: #607477;
    grid-area: centerCenter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#centerDown{
    background-color: #ddb034;
    grid-area: centerDown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#rightUp{
    grid-area: rightUp;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

#rightUpDown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.rightUpDownCenterCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 20px;
}

.rightUpDownCenterCenter i{
    font-size: 36px;
    color: #f00606;
}

#rightDown{
    background-color: #46d6e9;
    grid-area: rightDown;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

#rightDownUp{
    background-color: #4e4350;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 15%;
}

#rightDownUpCenter{
    background-color: #99e996;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 80%;
}

#rightDownUpCenterContainer{
    background-color: #e092e2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
}

.rightDownUpCenterContainerLeft{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 50%;
}

.rightDownUpCenterContainerLeft i{
    color: #005662;
    font-size: 1px;
}

#rightDownUpCenterContainerCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 50%;
}

#searchRight{
    background-color: #b83f3f;
    border: none;
    width: 98%;
    height: 100%;
}

.rightDownUpCenterContainerRight{
    background-color: #fafafa;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 50%;
}

.rightDownUpCenterContainerRight{
    border-top: none;
    color: #005662;
    font-size: 1px;
}

#rightDownDown{
    background-color: #e9c6ee;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 84%;
}

#rightDownDownContainer{
    background-color: #eeea0f;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    height: 98%;
}

#rightDownDownContainerUp{
    background-color: #0feea4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 80%;
}

#rightDownDownContainerUp1{
    background-color: #c0a4f3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border : 1px solid #005662;
    padding-left: 5px;
    width: 90%;
    height: 20%;
    font-size: 1px;
}

#rightDownDownContainerUp2{
    background-color: #70a064;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border : 1px solid #005662;
    padding-left: 5px;
    width: 90%;
    height: 20%;
    font-size: 1px;
}

#rightDownDownContainerUp3{
    background-color: #a08b64;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border : 1px solid #005662;
    padding-left: 5px;
    width: 90%;
    height: 10%;
    font-size: 1px;
}

#rightDownDownContainerUp4{
    background-color: #6488a0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border : 1px solid #005662;
    padding-left: 5px;
    width: 90%;
    height: 30%;
    font-size: 1px;
}

#rightDownDownContainerDown{
    background-color: #0f77ee;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 10%;
}

#rightDownDownContainerDown1{
    background-color: #f79dca;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 25px;
    border: none;
    font-size: 1px;
}

#rightDownDownContainerDown2{
    background-color: #f79dca;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 25px;
    border: none;
    font-size: 1px;
}

#littleSpace2{
    background-color: #005662;
    grid-area: littleSpace2;
    width: 100%;
    height: 100%;
}

#bigSpace2{
    grid-area: bigSpace2;
    width: 100%;
    height: 100%;
}

footer{
    background-color: #005662;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#navBarfooter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 33.33%;
    height: 80%;
}

.footerButton1{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 0.5em;
    width: 20%;
    height: 80%;
}

.footerButton2{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fafafa;
    font-size: 0.5em;
    width: 20%;
    height: 80%;
}

.footerButton2{
    
}











@media only screen and (max-width:550px){
    .container{
        grid-template-columns: 0.5fr 4fr 1fr 4fr 0.5fr;
        grid-template-rows: 1fr 2.5fr 5fr 2fr 9fr 2.5fr;
        grid-template-areas: 
        "footer header header header"
        "noSpace1 noSpace1 noSpace1 noSpace1"
        "centerUp centerUp centerUp centerUp"
        "centerDown centerDown centerDown centerDown"
        "arreyLeft arreyLeft arreyRight arreyRight";
        grid-gap: 0rem;
    }
}

.footerButton1{
    display: none;
}

#menu{
    display: none;
}

